.app{
  text-align: center;
  margin-top: 20%;
}

.App-title {
  margin : 10px;
  color : #589;
  font-size:18px; 
  font-weight: bold; 
  text-align:center;
  
 

}

.Clock-days, .Clock-time ,.Clock-seconds{
  display : inline;
   margin-left: 5px; 

}

.deadline-input {
  margin : 5px; 
  width: 50%;
  display:inline;
}